# Dependencies
node_modules

# Build output
.next
out

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# Testing
coverage
playwright-report
test-results

# Documentation
*.md
!README.md

# Misc
.husky
.github
*.log
npm-debug.log*
